/* ntd */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Imperial+Script&display=swap');

body {
	background-image: url("./Media/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 100vh; 
	font-family: "Google Sans";
}

.container {
	width: 1100px;
	height: 600px;
	border-radius: 20px;
	border: 3px solid #b5b5b5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: transparent;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.left {
	width: 500px;
	height: 550px;
	border: 1px solid white;
	border-radius: 20px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
}

.banner {
	width: 500px;
	height: 140px;
	background-image: url("./Media/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: ease-in 0.2s;
}

.left .banner:hover {
	filter: brightness(75%);
	transition: ease-in 0.2s;
}

.pfp {
	width: 100px;
	height: 100px;
	border: 1.5px solid white;
	border-radius: 50%;
	background-image: url("./Media/pfp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -50px;
	margin-left: 15px;
	z-index: 1;
	position: relative;
	cursor: pointer;
	transition: ease-in 0.2s;
}

.left .pfp:hover {
	filter: brightness(75%);
	transition: ease-in 0.2s;
}

.left .name {
	margin-left: 125px;
	margin-top: -50px;
}

.left .userName {
	cursor: default;
}

.left .displayName {
	font-size: 12px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.left .displayName:hover {
	text-decoration: underline;
}

.copied-noti {
	position: absolute;
	font-size: 10px;
	width: 50px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	text-align: center;
	transform: translateY(-30px) translateX(10px);
	z-index: 10;
}

.disabled {
	opacity: 0;
	visibility: hidden;
}

.copied-noti::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	border-width: 8px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
	transform: translateX(-7px);
}

.description {
	width: 500px;
	height: 100px;
	/* border: 1px solid white; */
}

.description .label {
	font-size: 12px;
	transform: translateY(30px) translateX(35px);
	margin-bottom: 5px;
}

.detail-container {
	width: 500px; 
	height: 275px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail {
	width: 450px;
	height: 240px;
	border: 1px solid white;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 5px;
}

.uni {
	height: 20px;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.uni .uni-name {
	font-size: 15px;
}

.uni .ico {
	background-image: url('./Media/icon.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	z-index: 2;
}

.heading {
	font-size: 15px;
}

li {
	font-size: 10px;
}

.major,
.language {
	transform: translateY(-10px);
}

.code {
	transform: translateY(-20px);
}

.fl {
	transform: translateY(-35px);
}

.language {
	font-size: 12px;
}



/* 
.container .right {
	width: 500px;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
} */

.right {
	width: 500px;
	height: 550px;
	border: 1px solid white;
	border-radius: 20px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-left: 10px;
	overflow-y: auto;
	scroll-behavior: smooth;
	box-sizing: border-box;
	padding: 20px 0;
	/* gap: 15px; */
}

.right::-webkit-scrollbar {
	width: 8px;
}

.right::-webkit-scrollbar-track {
	background-color: transparent;
}

.right::-webkit-scrollbar-thumb:hover {
	/* background: rgba(255, 255, 255, 0.5); */
	background: transparent;
}

.item {
	width: 450px;
	height: 150px;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom	: 15px;
	border-radius: 20px;
	flex-shrink: 0;
	margin-left: 7px;
}

.item.progress {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.item.social-media {
	height: 100px;
}

/* 
.item.social-media {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
} */

.row {
	height: 35px;
	width: 450px;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	/* justify-content: center; */
}

.sm {
	font-size: 12px;
	width: 125px;
	border: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	transform: translateX(4.5px);
}

.sm .label {
	width: max-content;
	display: flex;
	align-items: center;
	position: relative;
}

.sm .label::after {
	content: '';
	position: absolute;
	width: 0;
	left: 0;
	height: 0.3px;
	bottom: 2.5px;
	transition: width 0.2s ease;
	background-color: white;
}

.sm:hover .label::after{
	width: 100%;
}

.icon {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 7px;
	margin-right: 7px;
}

.icon.fb {
	background-image: url('./Media/Icon/Facebook.svg');
}

.icon.ig {
	background-image: url('./Media/Icon/Instagram.svg');
}

.icon.gh {
	background-color: white;
	border-radius: 50%;
	background-image: url('./Media/Icon/GitHub.svg');
}

.icon.sp {
	background-image: url('./Media/Icon/Spotify.svg');
}

.icon.rg {
	background-image: url('./Media/Icon/Riot.svg');
}

.icon.ld {
	background-image: url("./Media/Icon/LinkedIn.png");
	border-radius: 2px;
}

.disable {
	pointer-events: none;
}